Zadaj funkciu:
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="funkcia">

Zadaj x0
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="bod1">

Zadaj y0
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="bod2">

Zadaj v0
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="vektor1">

zadaj v1
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="vektor2">
&nbsp;
<button pButton type="button" label="Vypocitaj" (click)="vypocitaj()"></button>

<br>
vysledok = {{vysledok}} 




