Zadaj funkciu:
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="funkcia">

Zadaj x<sub>0</sub>
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="bod1">

Zadaj y<sub>0</sub>
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="bod2">

Zadaj v<sub>0</sub>
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="vektor1">

zadaj v<sub>1</sub>
<input type="text" pInputText placeholder="funkcia" [(ngModel)]="vektor2">
&nbsp;
<button pButton type="button" label="Vypocitaj" (click)="vypocitaj()"></button>

<br>
vysledok = {{vysledok}}




